<ion-header>
  <ion-toolbar>
    <ion-title>
      Lista de generos de musica
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class = "ion-padding">

  <ion-list>
    <ion-item>
      <ion-input labelPlacement="floating" label = "Nome" [(ngModel)]="nome"></ion-input>
    </ion-item>
  </ion-list>

  <ion-button (click)="adicionar()">Adicionar</ion-button>

  <ion-list>
    <ion-item
    *ngFor="let item of lista"
    >
      <ion-label>{{item.Titulo}}</ion-label>
      <ion-button slot = "end" color = "danger" (click)="remover(item)">
        <ion-icon slot = "icon-only" name = "trash"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

</ion-content>